body{
    background: rgba(26, 24, 25, 0.76);
}
/*div{
    border: 1px solid red;
}*/
.textoizquierdo{
    font-family: 'open sans', sans-serif;
    text-align: left;
    width: 350px;
    margin-top: 210px;
    margin-left: 185px;
    position: absolute;
}
.textoizquierdo p{
    font-weight: lighter;
    font-size: 40px;
}
.cero{
    font-size: 50px;
}
div.hours{
    font-family:sans-serif;
    width: 300px;
    margin-left: 525px;
    position: absolute;
    border-left: 2px solid gray;
    height: 140px;
    margin-top: 250px;
}
.hours p.hours{
    text-align: left;
    margin-left: 50px;
    position: absolute;
    margin-top: 0;
    letter-spacing: 2px;
}
.hours p.left{
    margin-left: 50px;
    position: absolute;
    margin-top: 20px;
    font-weight: lighter;
    letter-spacing: 1px;
}
.hours p.cero{
    position: absolute;
    margin-top: -10px;
    margin-left: 125px;
}
div.minutes{
    font-family:sans-serif;
    width: 300px;
    margin-left: 750px;
    position: absolute;
    border-left: 2px solid gray;
    height: 60px;
    margin-top: 250px;
}
.minutes p.minutes{
    margin-left: 30px;
    position: absolute;
    margin-top: 0;
    letter-spacing: 2px;
}
.minutes p.remaining{
    margin-left: 30px;
    position: absolute;
    margin-top: 20px;
    font-weight: lighter;
    letter-spacing: 1px;
}
.minutes .cero{
    position: absolute;
    text-align: center;
    margin-left: 125px;
    margin-top: -10px;
}
div.seconds{
    font-family:sans-serif;
    width:300px;
    margin-left: 950px;
    position: absolute;
    height: 62px;
    margin-top: 250px;
    border-left: 2px solid gray;
}
.seconds p.seconds{
    position: absolute;
    font-size: 20px;
    margin-left: 30px;
    margin-top: 0;
    letter-spacing: 2px;
}
.seconds p.counting{
    margin-left: 30px;
    position: absolute;
    margin-top: 22px;
    font-weight: lighter;
    letter-spacing: 1px;
}
.seconds p.cero{
    position: absolute;
    margin-top: -10px;
    margin-left: 130px;
}
.boton{
    font-family:sans-serif;
    position: absolute;
    margin-left: 1068px;
    margin-top: 350px;
    width: 110px;
    height: 50px;
    border: 2px solid white;
    -webkit-transition-duration: 0.5s;
    text-align: center;
    border-radius: 5px;
}
.boton:hover{
    background: white;
    color: black;
}
.befirst{
    text-align: right;
    width: 100%;
    height: 40px;
    opacity: 0.7;
}
.befirst p{
    font-family:sans-serif;
    position: absolute;
    margin-left: 885px;
    margin-top: 365px;
    font-size: 14px;
    text-align: center;
    width: 300px;
}

/*Footer*/

footer{
    background: #fff;
    position: absolute;
    width: 100%;
    height: 135px;
    margin-top: 613px
}
figure.logo{
    position: absolute;
    margin-top: 42px;
    margin-left: 150px;
}
div.contenedor{
    color: white;
    height: 50px;
}
div.enlaces{
    font-family:sans-serif;
    margin-left: 150px;
    margin-top: 75px;
    position: absolute;
}
div.home{
    width: 45px;
    border-right: 2px solid rgba(249, 242, 246, 0.85);
}
div.theme{
    border-right: 2px solid rgba(249, 242, 246, 0.85);
    width: 101px;
    margin-left: 60px;
    margin-top: -17px;

}
div.support{
    border-right: 2px solid rgba(249, 242, 246, 0.85);
    width: 48px;
    margin-left: 170px;
    margin-top: -18px;
}
div.made{
    width: 100px;
    margin-left: 230px;
    margin-top: -18px;
}
div.copyytexto{
    position: absolute;
    width: 525px;
    margin-left: 785px;
    margin-top: 25px;
}
div.copyright{
    width: 270px;
    font-family:sans-serif;
    color: darkgray;
    text-align: right;
    margin-left: 230px;
    font-size: 10px;
    margin-top: 5px;
}
.right{
    font-family:sans-serif;
    width: 550px;
    margin-left: -50px;
    text-align: right;
    font-size: 10px;
    margin-top: 20px;
    word-spacing: 1px;
}
.right span{
    color: darkgray;
}
a{
    text-decoration: none;
    outline: none;
    font-size: 11px;
    color: gray;
}